body {
    background-color: rgb(133, 127, 116);
}

#header {
    font-family: "Calibri";
    text-align: center;
}
#ola {
    font-size: 60px;
}
#alvinator {
    font-size: 20px;
    margin-top: -32px;
}
#bigContainer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: white;
    padding: 50px;
    width: 400px;
    height: 200px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0pt 0pt 0pt rgba(0, 0, 0, 0);
    transition: 1.2s;
}
#bigContainer:hover, #bigContainer:focus {
    box-shadow: 0pt 0pt 15pt rgba(0, 0, 0, 0.6);
}
h3 {
    margin-top: -20px;
}
.inputs {
    padding: 4px;
    margin-left: -150pt;
}
.measureTypes {
    padding: 3px;
}
.inputNumbers {
    padding: 3px;
}
