.github-corner {
  fill: #fff;
  color: #10af45;
}

body {
  background-color: #10af45;
}

.github-corner:hover .octo-arm {
  animation:octocat-wave 560ms ease-in-out;
}

.github-corner svg {
  position: absolute; 
  top: 0; 
  border: 0; 
  right: 0;
}

@keyframes octocat-wave {
  0%, 100% {
    transform:rotate(0);
  }
  20%, 60% {
    transform:rotate(-25deg);
  }
  40%, 80% {
    transform:rotate(10deg);
  }
}

@media (max-width:500px) {
  .github-corner:hover .octo-arm {
    animation:none;
  } 
  .github-corner .octo-arm {
    animation:octocat-wave 560ms ease-in-out;
  }
}

@-webkit-keyframes blinkingSolved {
  0% {
    background-color: #10af45;
  }
  30% {
    background-color: #048f32;
  }
  60% {
    background-color: #10af45;
  }
  80% {
    background-color: #048f32;
  }
}

@keyframes blinkingSolved {
  0% {
    background-color: #10af45;
  }
  30% {
    background-color: #048f32;
  }
  60% {
    background-color: #10af45;
  }
  80% {
    background-color: #048f32;
  }
}

@-webkit-keyframes blinkingError {
  0% {
    background-color: #10af45;
  }
  30% {
    background-color: #c7563a;
  }
  48% {
    background-color: #10af45;
  }
  70% {
    background-color: #c7563a;
  }
  100% {
    background-color: #10af45;
  }
}

@keyframes blinkingError {
  0% {
    background-color: #10af45;
  }
  30% {
    background-color: #c7563a;
  }
  48% {
    background-color: #10af45;
  }
  70% {
    background-color: #c7563a;
  }
  100% {
    background-color: #10af45;
  }
}

.solvedAnimation {
  -webkit-animation-name: blinkingSolved;
          animation-name: blinkingSolved;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-transition: 1s;
  transition: 1s;
}

.errorAnimation {
  -webkit-animation-name: blinkingError;
          animation-name: blinkingError;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
}

#header {
  font-family: 'Muli', sans-serif;
  font-style: italic;
  text-align: center;
  color: #FFF;
}

#ola {
  font-size: 60px;
}

#alvinator {
  font-size: 20px;
  margin-top: -32px;
}

footer {
  font-family: 'Muli', sans-serif;
  font-style: italic;
  color: #FFF;
  position: absolute;
  bottom: 10px;
  font-size: 14px;
}

#bigContainer {
  font-family: 'Muli', sans-serif;
  text-align: center;
  color: #15ff63;
  background-color: white;
  padding: 70px;
  width: 400px;
  height: 200px;
  margin: auto;
  border-radius: 15px;
  -webkit-box-shadow: 0pt 0pt 15pt rgba(0, 0, 0, 0.25);
          box-shadow: 0pt 0pt 15pt rgba(0, 0, 0, 0.25);
}

h3 {
  margin-top: -18px;
  color: #10af45;
}

.inputs {
  padding: 4.5px;
}

.measureTypes {
  padding: 6px 20px;
  width: 170px;
  border: 1.5pt solid #10af45;
  border-radius: 8px;
  color: #10af45;
  background-color: #FFF;
  font-weight: bolder;
  font-family: 'Muli', sans-serif;
  margin: 5px 0px;
}

.inputNumbers {
  padding: 6px 18px;
  border: 1.5pt solid #10af45;
  border-radius: 8px;
  color: #10af45;
  font-weight: bold;
  font-family: 'Muli', sans-serif;
}

#inputCalculate {
  font-weight: bolder;
  font-size: 30px;
  font-family: 'Muli', sans-serif;
  border-radius: 8px;
  padding: 18px 130px;
  margin-top: 15px;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  background-color: white;
  border: 1.5pt solid #10af45;
  color: #10af45;
  cursor: pointer;
}

#inputCalculate:hover {
  background-color: #10af45;
  border: 1.5pt solid #10af45;
  color: #FFF;
  -webkit-box-shadow: 1.5pt 1pt 10pt rgba(0, 0, 0, 0.35);
          box-shadow: 1.5pt 1pt 10pt rgba(0, 0, 0, 0.35);
}

#infoButton {
  background-color: white;
  border: white;
  padding: 0px;
  color: #10af45;
  border-color: white;
  margin-right: -378pt;
  margin-top: -2px;
}

#infoButton :hover {
  -webkit-transition: 1s;
  transition: 1s;
  color: #0e7a32;
}

#infoButtonAreaOn {
  padding: 20px;
  background-color: white;
  width: 500px;
  height: 480px;
  margin: auto;
  margin-top: 10px;
  border-radius: 15px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  -webkit-box-shadow: 0pt 0pt 15pt rgba(0, 0, 0, 0.25);
          box-shadow: 0pt 0pt 15pt rgba(0, 0, 0, 0.25);
}

#infoButtonAreaOn #howWorks {
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
  font-family: 'Muli', sans-serif;
  text-align: center;
  color: #8f8f8f;
}

#infoButtonAreaOn img {
  width: 100%;
  height: auto;
}

#infoButtonAreaOff {
  visibility: hidden;
  width: 530px;
  height: 0;
  margin: auto;
  margin-top: 10px;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

#infoButtonAreaOff #howWorks {
  visibility: hidden;
  font-family: 'Muli', sans-serif;
  text-align: center;
  color: #8f8f8f;
}

#resultsOn {
  font-family: 'Muli', sans-serif;
  color: #8f8f8f;
  background-color: white;
  padding: 20px;
  width: 500px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  -webkit-box-shadow: 0pt 0pt 15pt rgba(0, 0, 0, 0.25);
          box-shadow: 0pt 0pt 15pt rgba(0, 0, 0, 0.25);
  -webkit-transition-delay: 0.65s;
          transition-delay: 0.65s;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

#resultsOff {
  visibility: hidden;
}

.important {
  font-family: 'Muli', sans-serif;
  text-align: center;
  color: #10af45;
}

@media only screen and (max-width: 600px) {
  #ola {
    font-size: 30px;
  }
  #alvinator {
    font-size: 15px;
    padding-top: 10px;
  }
  #bigContainer {
    padding: 60px;
    width: 250px;
    height: 280px;
  }
  .inputs {
    margin-left: -10px;
  }
  .measureTypes {
    padding: 6px 18px;
    width: 213px;
  }
  .inputNumbers {
    padding: 6px 18px;
  }
  #inputCalculate {
    padding: 15px 50px;
    -webkit-transition: 0.8s;
    transition: 0.8s;
    margin: auto;
    margin-top: 10px;
  }
  #infoButton {
    margin-right: -250pt;
    margin-top: -10px;
  }
  #infoButtonAreaOn {
    padding: 50px;
    width: 270px;
    height: 350px;
    margin: auto;
    margin-top: 10px;
  }
  #infoButtonAreaOff {
    visibility: hidden;
    padding: 20px;
    width: 270px;
    margin: auto;
    margin-top: 10px;
  }
  #resultsOn {
    padding: 50px;
    width: 270px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  #resultsOff {
    padding: 0px 50px;
    width: 270px;
    visibility: hidden;
  }
}
/*# sourceMappingURL=style.css.map */
